<mat-tab-group dynamicHeight (selectedTabChange)="selectedCategory($event)">
    <mat-tab
            [attr.data-category]="categoryAttribute.category.categoryId"
            label="{{ categoryAttribute.category.categoryName }}"
            *ngFor="let categoryAttribute of categoryAttributes"
    >
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">{{ categoryAttribute.category.categoryName }}</div>
                    <div class="panel-body">
                        <div cdkDropList #categorySelectedAttributesList [cdkDropListData]="categoryAttribute.attributes" [cdkDropListConnectedTo]="[categoryAttributesList]" class="list" (cdkDropListDropped)="drop($event)">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let item of categoryAttribute.attributes" cdkDrag>
                                    {{ item.attributeName }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Attributes</div>
                    <div class="panel-body">
                        <div cdkDropList #categoryAttributesList [cdkDropListData]="attributes[categoryAttribute.category.categoryId]" [cdkDropListConnectedTo]="[categorySelectedAttributesList]" class="list" (cdkDropListDropped)="drop($event)">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let attribute of attributes[categoryAttribute.category.categoryId]" cdkDrag>
                                    {{ attribute.attributeName }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<div class="hidden" [attr.data-value]="categoryAttributes|json" data-name="save_value"></div>

