<div class="form-group">
    <select required (change)="loadAdditionalOptions()"
          class="form-control"
          [(ngModel)]="fieldOptions.type">
        <option *ngFor="let key of objectKeys(fieldTypes);" [ngValue]="key">{{ fieldTypes[key] | trans }}</option>
    </select>
</div>

<div class="form-group" *ngIf="fieldOptions.type == 'collection'">
    <select class="form-control" [(ngModel)]="fieldOptions.options.collection">
        <option value="" disabled>{{ "site.default.select" | trans }}</option>
        <option *ngFor="let key of objectKeys(fieldAdditionalOptions.collection)" [ngValue]="key">
            {{ fieldAdditionalOptions.collection[key] | trans }}
        </option>
    </select>
</div>

<div class="hidden" [attr.data-value]="fieldOptions|json" data-name="save_value"></div>